{% extends 'property/base.html' %}
{% block body %}
{% load staticfiles %}
<!-- content -->
<script>
function validateForm() {
    var x = document.forms["findproperty"]["address"].value;
    if (x == "") {
        alert("State, City or zip must be filled out");
        return false;
    }
}
</script>
<div class="body2">
  <div class="main">
    <section id="content">

          <form id="form_1" action="{% url 'search' %}" method="get" name="findproperty" onsubmit="return validateForm()">
            <div class="pad1">
              <h3>Add Property Details</h3>
              <div class="row"> City &amp; State, or Zip:<br>
                <input type="textfield" class="input" name="address" value="address" placeholder="State/City or Zip Code" required>
              </div>
              <div class="row_select"> Search Area:<br>
                <select name="area" required>
                  <option value="" selected>&nbsp;</option>
                  <option value="noida">Noida</option>
                  <option value="greater noida">Greater Noida</option>
                  <option value="kasna">Kasna</option>
                </select>
              </div>
              <div class="row_select">
                <div class="cols"> Price Range:<br>
                  <select name="price" required>
                    <option value="" selected>&nbsp;</option>
                    <option value="1000">10yrd</option>
                    <option value="2000">20k/yrd</option>
                    <option value="3000">30k/yrd</option>
                    <option value="4000">50k/yrd</option>
                    <option value="5000">60k/yrd</option>
                    <option value="6000">70k/yrd</option>
                    <option value="7000" >80k/yrd</option>
                    <option value="8000">90k/yrd</option>
                    <option value="9000">100k/yrd</option>
                    <option value="10000">Above</option>
                  </select>
                </div>
                <div class="cols pad_left1"> to:<br>
                  <select name="price2" required>
                    <option value="" selected>&nbsp;</option>
                    <option value="1000">10k/yrd</option>
                    <option value="2000">20k/yrd</option>
                    <option value="3000">30k/yrd</option>
                    <option value="4000">40k/yrd</option>
                    <option value="5000">50k/yrd</option>
                    <option value="6000">60k/yrd</option>
                    <option value="7000">70k/yrd</option>
                    <option value="8000">80k/yrd</option>
                    <option value="9000">90k/yrd</option>
                    <option value="10000">100k/yrd</option>
                    <option value="100000000">Above</option>
                  </select>
                </div>
              </div>
              <div class="row_select">
                <div class="cols"> Bedroom(s):<br>
                  <select name="bedroom" required>
                    <option value="" selected>&nbsp;</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="20">Above</option>
                  </select>
                </div>
                <div class="cols pad_left1"> Bathroom(s):<br>
                  <select name="bathroom" required>
                   <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="30">Above</option>
                  </select>
                </div>
              </div>
              <div class="row_select pad_bot1">
                <div class="cols"> Radius:<br>
                  <select name="size" required>
                    <option value="" selected>&nbsp;</option>
                    <option value="100">100yrd</option>
                    <option value="200">200yrd</option>
                    <option value="300">300yrd</option>
                    <option value="400">400yrd</option>
                    <option value="500">500yrd</option>
                    <option value="10000000000">Above</option>
                  </select>
                </div>
                <div class="cols pad_left1"> <input class="button" type="submit" value="Find Property"> </div>
              </div>
          </form>
  </div>
</div>

<!-- / content -->
{% endblock %}
{% block footer %}
{% endblock %}
