{% extends 'property/base.html' %}
{% block body %}
{% load staticfiles %}



<style>
  .proplist{
     padding: 5px;
     margin: 20px;
  }
  .propimg{
     height: 300px;
     width: 300px;
     
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
   

  }
  figure{
    margin: 5px 5px;
  }
</style>
<div class="body3">
  <div style="margin: 0px 140px;">
  <div class="" style="margin: 30px 15px;">
    <section id="contkent2">
      <div class="wrappker">
        <article class="col">
          <!--<div class="pad2">-->
            <h2>Remodeling Rooms</h2>
              {% for h, a, o in mylist %}


          <div style="display: inline-block ">
            <a href="{% url 'detail' h.id %}">
            <figure>
                <img src="{{ h.property_pic.url }}" alt="{{ h.property_pic }}" class="propimg">
                <figcaption>{{ h.house_no }}, {{ a.area }}, Contact +91{{ o.contact_no }}</figcaption>
              <p class="">Rs. {{ h.price }}/yards for {{ h.size }} yards<br>By {{ o.firstname }} at {{ a.area }}<br>click for more detail</p>
              <p></p>
            </figure>
          </div></a>
              {% endfor %}
        </article>
      </div>
    </section>
  </div></div>
</div>

<!-- / content -->
{% endblock %}
{% block footer %}
{% endblock %}
