{% extends 'property/base.html' %}
{% block body %}
{% load staticfiles %}




<div class="body3">
  <div class="main">
    <section id="content2">
      <div class="wrapper">
        <article class="col1">
          <div class="pad2">
            <h2>Remodeling Rooms</h2>
              {% for h, a, o in mylist %}
              {{ h.house_no }}
              {{ a.block }}
              {{ o.city }}

              {% endfor %}
        </article>
        <article class="col2">
          <div class="pad1">
            <h3>Recent News</h3>
            <div class="wrapper"> <span class="date"><strong>28</strong><span>may</span></span>
              <p><a href="#" class="color2">Donec consequat risus</a><br>
                Hendrerit conghdim entum diam metus fringilla nisl, in porta sapien purus quis odiosem... <a href="#">more</a></p>
            </div>
            <div class="wrapper"> <span class="date"><strong>25</strong><span>may</span></span>
              <p><a href="#" class="color2">Nullam dignissim</a><br>
                Laoreet neque, quis sollicitudin orci tempus etiam viverra leo euismod pulvinar accumsan... <a href="#">more</a></p>
            </div>
            <div class="wrapper"> <span class="date"><strong>22</strong><span>may</span></span>
              <p><a href="#" class="color2">Quisque nunc lorem</a><br>
                Feugiat nec sodales quis, iaculis sed libero. Cras vel nisl justo, ac posuere est nulla facilisi... <a href="#">more</a></p>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>

<!-- / content -->
{% endblock %}
{% block footer %}
{% endblock %}
